body {
  font-family: sans-serif;
  background: #930aee;
}

.app-container {
  text-align: center;
  padding: 2rem;
  margin-left: 450px;
  background-color: white;
}

.todo-wrapper {
  max-width: 500px;
  margin: auto;
}

.input-section input {
  width: 70%;
  padding: 0.5rem;
  margin-right: 10px;
  background-color: rgb(223, 207, 223);
}

.input-section button {
  padding: 0.5rem;
  background-color: purple;
}

.filter-section {
  margin: 1rem 0;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-list li {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: plum;
}

.task-list li span {
  cursor: pointer;
}

.task-list li.completed span {
  text-decoration: line-through;
  color: gray;
}